/* Responsive */
@media only screen and (max-width: 350px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:25% ;
        font-size: 250%  ;
        color: ivory;
        }

        .intro{
            margin-left: 30px ;
            margin-right: 30px ;
            margin-bottom: 30px;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:25% ;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:30% ;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:35% ;
        }
        .resume{
            left:15% ;
            margin-bottom: 50px ;
        }
        .blog{
            left:15% ;
            margin-bottom: 50px;
        }
        .about-me{
            left:15% ;
            margin-bottom: 50px ;
        }

    
  }

@media only screen and (max-width: 400px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:25% ;
        font-size: 300%  ;
        color: ivory;
        }

        .intro{
            margin-left: 30px ;
            margin-right: 30px ;
            margin-bottom: 30px ;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:20%;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:30% ;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px ;
            left:35% ;
        }
        .resume{
            left:15% ;
            margin-bottom: 50px ;
        }
        .blog{
            left:15% ;
            margin-bottom: 50px;
        }
        .about-me{
            left:15%;
            margin-bottom: 50px;
        }

    
  }
  @media only screen and (max-width: 450px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:25% !important;
        font-size: 400% !important ;
        color: ivory;
        }

        .intro{
            margin-left: 30px !important;
            margin-right: 30px !important;
            margin-bottom: 30px !important;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:25% !important;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:30% !important;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:35% !important;
        }
        .resume{
            left:15% !important;
            margin-bottom: 50px !important;
        }
        .blog{
            left:15% !important;
            margin-bottom: 50px !important;
        }
        .about-me{
            left:15% !important;
            margin-bottom: 50px !important;
        }

    
  }
  @media only screen and (max-width: 500px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:30% !important;
        font-size: 500% !important ;
        color: ivory;
        }

        .intro{
            margin-left: 30px !important;
            margin-right: 30px !important;
            margin-bottom: 30px !important;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:25% !important;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:30% !important;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:35% !important;
        }
        .resume{
            left:20% !important;
            margin-bottom: 50px !important;
        }
        .blog{
            left:20% !important;
            margin-bottom: 50px !important;
        }
        .about-me{
            left:20% !important;
            margin-bottom: 50px !important;
        }

    
  }
  @media only screen and (max-width: 550px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:30% !important;
        font-size: 500% !important ;
        color: ivory;
        }

        .intro{
            margin-left: 30px !important;
            margin-right: 30px !important;
            margin-bottom: 30px !important;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:25% !important;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:30% !important;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:35% !important;
        }
        .resume{
            left:20% !important;
            margin-bottom: 50px !important;
        }
        .blog{
            left:20% !important;
            margin-bottom: 50px !important;
        }
        .about-me{
            left:20% !important;
            margin-bottom: 50px !important;
        }

    
  }
  @media only screen and (max-width: 600px) {
    html, body {
        height: 100%;
        margin: 0px;
        overflow-x: hidden;
    }
    .intro h1{
        top:25% !important;
        font-size: 500% !important ;
        color: ivory;
        }

        .intro{
            margin-left: 30px !important;
            margin-right: 30px !important;
            margin-bottom: 30px !important;
            
        }
        .intro .github{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:30% !important;
        }
        .intro .instagram{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:35% !important;
        }
        .intro .linkedin{
            width:50px;
            height:50px;
            position: relative;
            top:250px !important;
            left:40% !important;
        }
        .resume{
            left:5% !important;
            margin-bottom: 50px !important;
            width: 250px !important;
        }
        .blog{
            left:10% !important;
            margin-bottom: 50px !important;
            width: 250px !important;
        }
        .about-me{
            left:27% !important;
            margin-bottom: 50px !important;
            width: 250px !important;
        }

    
  }
  
  



/*normal*/
body{
    margin: 0%;
    background-color:#E8E4E1;
}
html, body {
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.intro{
    background-image: url("./intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px  rgb(173, 171, 171);
    
}

.intro h1{
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    position: relative !important;
    top:30% ;
    font-size: 500% ;
    color: ivory;
    }






.intro .github{
    width:50px;
    height:50px;
    position: relative;
    top:400px;
    left:38%;
}
.intro .instagram{
    width:50px;
    height:50px;
    position: relative;
    top:400px;
    left:43%;
}
.intro .linkedin{
    width:50px;
    height:50px;
    position: relative;
    top:400px;
    left:48%;
}

.intro a .github:hover{
    background-color:white;
    border-radius: 50%;
}
.intro a .instagram:hover{
    background-color:white;
    border-radius: 50%;
}
.intro a .linkedin:hover{
    background-color:white;
    border-radius: 50%;
}

hr{
    width:120px;
    border-top: 8px dotted;
    border-radius: 50px;;
}

footer{
    background-color: #363636;
    height:20px;
    
}

.resume{
    display:inline-block !important;
    position: relative;
    left:10%;
    box-shadow: 5px 5px 5px  rgb(173, 171, 171);
}

.resume .card-text{
    font-family: 'Roboto Slab', serif;
}

.blog{
    display:inline-block !important;
    position: relative;
    left:15%;
    box-shadow: 5px 5px 5px  rgb(173, 171, 171);
}
.blog .card-text{
    font-family: 'Roboto Slab', serif;
}
.about-me{
    display:inline-block !important;
    position: relative;
    left:20%;
    box-shadow: 5px 5px 5px  rgb(173, 171, 171);
}
.about-me .card-text{
    font-family: 'Roboto Slab', serif;
}


/* Responsive */